<%- include("partials/header.ejs") %>
<h1>Sistema Gerenciador de Clientes do IFPE</h1>
<hr>
<h3>
    Utilize o menu de navegação acima.
</h3>
<br><br>
<div>
    <%= msg %>
</div>
<%- include("partials/footer.ejs") %>