<%- include("../partials/headerNaoLogado.ejs") %>
<h1><%= title %></h1>
<hr>
<form method="POST" action="/usuarios/login">
    <div class="mb-3">
        <label class="form-label">Login</label>
        <input required class="form-control" type="text" name="login">
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input required class="form-control" type="password" name="senha">
    </div>
    <button type="submit" class="btn btn-success">Entrar</button>    
</form>
<a href="cadastro">Já possui Cadastro?</a>
<%- include("../partials/footer.ejs") %>